// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


/* CSS for Header/Footer starts here*/

.flex-container {
    display: flex;
    align-items: left;
  }
  
  .nav-link {
    color: #000000;
  }
  
  .btn-outline-primary {
    color: #2c2c2c;
    background-color: #e3e3e3;
    --bs-btn-border-color: #2c2c2c;
    margin-left: 10px;
  }
  .btn-outline-primary:hover {
    background-color: #4cab94;
    --bs-btn-hover-border-color: #4cab94;
  }
  
  .btn-primary {
    color: #e3e3e3;
    background-color: #2c2c2c;
    --bs-btn-border-color: #e3e3e3;
    margin-right: 20px;
  }
  
  .btn-primary:hover {
    background-color: #4cab94;
    --bs-btn-hover-border-color: #4cab94;
  }
  
  .nav-link:hover {
    color: #4cab94;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
  
  footer p {
    color: #ccc;
  }
  
  /* CSS for header/Footer ends here*/

  .newPost {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding-bottom: 16px;
    margin: 16px;
    padding: 5px;
    width: 20%;
    float: left;
    position: fixed;
    top: 15;
    left: 0;
  }

  .newTag button {
    background-color: #4cab94;
    border-radius: 7px;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    align-items: center;
    
  }

  .d-flex {
    display: inline-block;
    text-align: center;
  }

  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  

  .blogHeader h1 {
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 64px;
  }
  

  .blogHeader {
    background-color: #4cab94;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  color: #fff;

  }

  .blogInfo {
    background: #fff;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding-bottom: 16px;
    padding: 10px;
    width: 75%;
    margin: 16px;
    float: right;
  }
  .blogInfo h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
  }

  .blogInfo h3 {
    color: #a6a6a6;
  }

  .blogInfo {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: block;
    text-align: left;
  }

  .post h2 {
    font-weight: bold;
    font-size: 16px;
  }

  .post ul {
    display: inline;
    margin-right: 10px;
  }

.homepage {
  background: #fff;
  position: relative;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  margin-top: 16px;
  vertical-align: middle;
}

.login h1 {
  text-align: center;
  font-size: 32px;
}
  
.login button {
  background-color: #4cab94;
  border-radius: 7px;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  margin: 2px 2px;
  cursor: pointer;
  text-align: right;
  align-items: center;
  
}

.login input {
  text-align: center;
}

.searchBarHeader h2 {
  font-weight: bolder;
}

.user {
  font-weight: bolder;
  text-align: center;
}


.searchOptions fieldset {
  background-color: #eeeeee;
}

.searchOptions legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

.searchOptions input {
  margin: 5px;
}